@font-face {
  font-family: 'Brandon';
  src: url(../fonts/Brandon_med.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brandon light';
  src: url(../fonts/Brandon_light.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brandon blk';
  src: url(../fonts/Brandon_blk.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto light';
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: normal;
  font-style: normal; }
