nav {
  margin-bottom: 5rem !important;
  .navbar-brand,
  .navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
  }

  .countdown-timer {
    margin: 0;
    margin-left: 300px;
    position: absolute;
    top: 30px;
    h3 {
      margin: 0;
      padding: 0;
      width: 300px;
      display: inline-block;
    }

    div {
      display: inline-block;
      font-size: 3rem;
    }
  }
}


