<div class="row addNew">
    <div class="col-xs-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="New group name" ng-model="exList.exerciseGroup.groupName">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="exList.save()"><span class="glyphicon glyphicon-ok-sign"></span></button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row">
<div class="col-xs-6 col-lg-6">
    <div class="panel panel-default" ng-repeat="exGroup in exList.exerciseGroupList track by $index">
        <!-- Default panel contents -->
        <div class="panel-heading">{{exGroup.groupName}}<span class="exGroup-total-time">{{exList.totalGroupTime(exGroup)[0]}}:{{exList.totalGroupTime(exGroup)[1]}}</span></div>


        <!-- Table -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Exercise</th>
                <th>Duration</th>
                <th>BPM</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="exercises-panel">
            <tr ng-repeat="item in exGroup.exercises" ng-click="exList.showDetails(item)">
                <td>{{item.exId}}</td>
                <td>
                    <input type="text" ng-model="item.exerciseName" class="exercise-cell">
                </td>
                <!--<td>{{item.duration | secondsToDateTime | date:'mm:ss'}}</td>-->
                <td>
                    <input type="number" ng-model="item.minutes" class="exercise-cell time left" ng-minlength="1" ng-maxlength="3"
                           min="0" max="999">
                    <span>:</span>
                    <input type="number" ng-model="item.seconds" class="exercise-cell time right" ng-minlength="1" ng-maxlength="2"
                           min="0" max="60">
                </td>
                <td>
                    <input type="number" ng-model="item.bpm" class="exercise-cell bpm">
                </td>
                <th>
                    <span class="glyphicon glyphicon-play" ng-show="!item.isPlaying" ng-click="exList.play(item.bpm, item)"></span>
                    <span class="glyphicon glyphicon-pause" ng-show="item.isPlaying" ng-click="exList.pause(item)"></span>
                    <span class="glyphicon glyphicon-stop" ng-click="exList.stop(item)"></span>
                </th>
            </tr>
            </tbody>
        </table>
        <div class="add-exercise">
            <button class="btn btn-primary" type="button" ng-click="exList.addExercise($index)">Add new exercise</button>
        </div><!-- /input-group -->

    </div>
</div>
<div class="col-xs-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>{{exList.preview.name}}</h1>
            <div class="tabs">
                <img ng-src="{{exList.preview.tab}}" alt="">
            </div>
            <input type="file" class="btn btn-default">
        </div>
    </div>
</div>
</div>